<div class="row">
  <div class="col-xs|sm|md|lg|xl-1-12">
    <form>
      <div class="mb-3">
        <label for="" class="form-label">Start Value</label>
        <input #StartValue (focus)="StopGame()" (focusout)="GetStartValue(StartValue.value)" type="text"
          class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      </div>
      <button type="button" (click)="StartGame()" class="btn btn-primary m-1">Start Game</button>
      <button type="button" (click)="StopGame()"class="btn btn-danger m-1">Stop Game</button>
    </form>
  </div>
</div>
