<form>
  <h1><span class="badge bg-primary">Employee</span> Account Form</h1>
  <div class="mb-3">
    <label for="" class="form-label">Account Name</label>
    <input #AccountName (focusout)="GetAccountName(AccountName.value)" type="text" class="form-control" name="" id=""
      aria-describedby="helpId" placeholder="">
    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
  </div>
  <hr>
  <div class="mb-3">
    <label for="" class="form-label">Account Role</label>
    <input #AccountRole (focusout)="GetAccountRole(AccountRole.value)" type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
  </div>
  <hr>
  <div class="mb-3">
    <label for="" class="form-label">Account Status</label>
    <select #AccountStatus (click)="GetAccountStatus(AccountStatus.value)"  class="form-control" name="" id="">
      <option *ngFor="let status of StatusList; let i=index">{{status}}</option>
    </select>
  </div>
  <hr>
  <button type="button" (click)="CreateNewAccount()" class="btn btn-primary m-1">Create New Account</button>
</form>
