<div class="container">
  <h1><span class="badge secondary">{{'Angular HTTP CRUD Features'|uppercase}}</span></h1>
  <form action="" (ngSubmit)="SendPost()" #post="ngForm">
    <div class="mb-3">
      <label for="" class="form-label">Title</label>
      <input type="text" class="form-control" ngModel name="title" id="" aria-describedby="helpId" placeholder="">
      <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Content</label>
      <input type="text" class="form-control" ngModel name="content" id="" aria-describedby="helpId" placeholder="">
      <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
    </div>
    <button type="submit" class="btn btn-primary">Send Posts</button>
    <hr>
    <div class="row">
      <div class="col-xl-4 d-flex justify-content-md-start align-items-center">
        <button type="button" (click)="FetchPost()" class="btn btn-danger m-1">Fetch post </button>
        <button type="button" (click)="ClearPosts()" class="btn btn-warning m-1">Clear post </button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-xl-12 mt-2 mb-2">
      <ng-container *ngFor="let post of PostList; let i=index">
        <app-post-detail *ngIf="!IsError" [PostInfo]="post"></app-post-detail>
    </ng-container>
      <app-error-detail *ngIf="IsError" [Error]="ErrorObject"></app-error-detail>
    </div>
  </div>
</div>
