<div class="row mt-2">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a [routerLink]="['/servers',1,'edit']"
      [queryParams]="{allowedEdit:'1', Yes:1}"
      fragment="loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button type="button" (click)="ReloadServer()" class="btn btn-primary">Reload Servers</button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

