<!--<div class="container">
  <app-cockpit (Server)="RenderNewServer($event)"></app-cockpit>
  <hr>
  <app-sever-element *ngFor="let server of ServerList; let index as i" [SeverDetail]="server">
    <ng-container><p class="card-text" #type>{{server.type}}</p>
    <p class="card-text" >{{server.content}}</p></ng-container>
  </app-sever-element>
</div>-->


<!--<div class="container">
  <app-game-control (TransmitValue)=RenderNumber($event)></app-game-control>
 <hr>
 <ng-container *ngFor="let OddNumber of EvenNumberList">
  <app-odd *ngIf="OddNumber%2!=0"><p  class="odd-number">{{OddNumber}}-Odd</p></app-odd>
   <div appBetterHighlightDirective *appCustomIf="OddNumber%2==0"  [Bg-color]="'purple'" [Text-color]="'white'" [Default-bg-color]="'yellow'" [Default-text-color]="'red'"></div>
  <app-even *ngIf="OddNumber%2==0"  [Even]="OddNumber"></app-even>
  <ng-container [ngSwitch]="OddNumber%2==0">
    <ng-container *ngSwitchCase="true">
      <app-odd><p  class="odd-number">{{OddNumber}}-Odd</p></app-odd>
    </ng-container>
    <ng-container *ngSwitchCase="false">
      <app-even   [Even]="OddNumber"></app-even>
    </ng-container>
    <p *ngSwitchDefault>
<app-even   [Even]="OddNumber"></app-even>
    </p>
  </ng-container>
</ng-container>
</div>-->

<!-- <app-account-list></app-account-list> -->

<!-- <app-user></app-user> -->
<!-- <app-routingfeature></app-routingfeature> -->
<!-- <app-observable-feature></app-observable-feature> -->
<app-angular-forms></app-angular-forms>
