<div class="card">
  <div class="card-header">
    {{AccountDetail.name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{AccountDetail.role}}</h5>
    <p class="card-text">{{AccountDetail.status}}</p>
    <button type="button"  (click)="UpdateStatusActive('active')" class="btn btn-primary m-1">Set to Active</button>
    <button  type="button" (click)="UpdateStatusInactive('Inactive')" class="btn btn-danger m-1">Set to Inactive</button>
    <button  type="button"   (click)="UpdateStatusUnknown('Unknown')" class="btn btn-secondary m-1">Set to Unknown</button>
  </div>
</div>
