/* You can add global styles to this file, and also import other style files */
.selected-link{
  background-color: #000000;
  box-shadow: -3px 3px #000000, -2px 2px #000000, -3px 3px #000000;
  color: #FFFF!important;
}
